.custom-button {
    min-width: 250px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white ;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 6px 42px -1px rgba(209,198,209,1);
    margin-bottom: 20px;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: none;
    }
    &.google-sign-in {
      background-color: #0D986A ;
      color: white;

      &:hover {
        background-color: white;
        color: #0D986A;
        border: none;
      }
    }
  }
  