.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }

  @media only screen and (max-width: 598px) {
    .cart-dropdown {
      top: 275px;
      right: 80px;
        width: 65vw;
    }
  }