.sign-up{
    margin: 0 30px ;
    width: 35vw;
    height: 100%;
    // border: 1px solid black;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
    box-shadow: 3px 6px 42px -1px rgba(209,198,209,1);
}

@media only screen and (max-width: 788px) {
    .sign-up{
        width: 75vw;
        
    }
  }

  @media only screen and (max-width: 598px) {
    .sign-up{
        
        width: 67vw;
        
    }
  }
  @media only screen and (max-width: 370px) {
    .sign-up{
      margin: 0 20px;
        width: 60vw;
    }
  }
  @media only screen and (max-width: 358px) {
    .custom-button {
      min-width: 210px;
    }
    .sign-up{
      margin: 50px 35px;
        width: 55vw;
    }
  }