.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color:#0D986A ;
    box-shadow: 3px 6px 12px -1px rgba(209,198,209,1);
    
    
    
    .logo-container {
        font-size: 20px;
        padding: 0;
        margin: 0 20px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        color: white;
        cursor: pointer;
      }
    }
    .icon {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  // .menu-list {
  //   z-index: 100000;
  //   position: fixed;
  //   background-color: #0D986A;
  //   left: 0;
  //   width: 600px;
  //   height: 800px;
    
  // }

  @media only screen and (max-width: 600px) {
    .header {
        
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        // .logo-container {
        //   display: none;
        // }
        
        .options {
          // display: none;
            width: 100%;
            flex-direction: column;
            text-align: center;
           }
          //  .icon {
          //   display: inline;
          //   text-align: right;
          // }
    }
   
       .option {
     
        text-align: center;
       }
       

    
  }

 